@model crudapp.EmpVM.LoginVM
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLoginSinup.cshtml";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<div class="container">
    <div class="row">
        <div class="col-4 offset-4 border border-1 rounded border-info mt-5">
            <div class="text-center">
                <a asp-action="Sinup" class="btn btn-primary" asp-controller="Login">Sinup</a>
            </div>
            <form method="post" asp-action="Login" asp-controller="Login">
                <div class="form-group">
                    <label asp-for="email"></label>
                    <input class="form-control" asp-action="Login" asp-controller="Login" placeholder="Enter your name" autocomplete="off" />
                </div>
                <div>
                    <label asp-for="password"></label>
                    <input id="password" class="form-control" type="password" asp-action="Login" asp-controller="Login" placeholder="Enter your name" autocomplete="off" />
                    <i id="open" class="bi bi-eye-fill float-end" style="margin-top:-25px; margin-right:6px; cursor:pointer"></i>
                    <i id="close" class="bi bi-eye-slash-fill float-end" style="margin-top:-25px; margin-right:6px; display:none; cursor:pointer"></i>
                </div>
                <div class="form-group">
                    <input type="checkbox" asp-action="Login" asp-controller="Login" />
                    <label asp-for="IsRemember"></label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Login" class="form-control btn btn-info"/>
                </div>
                <div class="form-group">
                    <a asp-action="ForgateUser" asp-controller="Login">Forgate UserName?</a>
                    <a asp-action="ForgateUser" asp-controller="Login">Forgate PassWord?</a>
                </div>

            </form>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("#open").click(function(){
            $("#open").hide();
            $("#close").show();
            $("#password").attr("type","text");
        });

        $("#close").click(function () {
            $("#close").hide();
            $("#open").show();
            $("#password").attr("type", "password");
        });
    });
</script>

